@model IEnumerable<Game>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Authors name</th>
            <th>Price to lend</th>
            <th>Lend a game</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Game game in Model)
        {
            <tr>
                <td>@game.GameId</td>
                <td>@game.Name</td>
                <td>@game.Author.Name</td>
                <td>@game.Price</td>
                <td><a class="btn btn-success" asp-area="" asp-controller="Lend" asp-action="LendGame" asp-route-GameId="@game.GameId">Lend</a></td>
            </tr>
        }
    </tbody>
</table>