@using TestWebApp.ViewModel
@model HomeViewModel

<h1>Steam management</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Customers Count
            </div>
            <div class="panel-body">
                There are @Model.CustomerCount customers
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Authors Count
            </div>
            <div class="panel-body">
                There are @Model.AuthorCount authors
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Game count
            </div>
            <div class="panel-body">
                There are @Model.GameCount games available atm from which @Model.LendCount borrowed.
            </div>
        </div>
    </div>

    <h3 class="col-md-offset-2">User details</h3>

    <div class="form-group">
        <label class="control-label col-sm-2">Name:</label>
        <div class="col-sm-2">
            <p class="form-control-static"> @Model.Customer.Name</p>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Money:</label>
        <div class="col-sm-2">
            <p class="form-control-static"> @Model.Customer.Money</p>
        </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-action="Logout">Sign Out</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-action="ViewLends">View Lends</a>
        </li>
    </ul>
</div>

